.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homeOwnerImages img {
  border-radius: 15px;
  height: 500px;
}

.tenantImage img {
  height: 500px;
  width: 750px;
  border-radius: 15px;
}


.swipeButtons {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%
}

.swipeButtons #like {
  background-color: #4caf50;
  color: white;
  border: 1px solid black;
  width: 150px;
}

.swipeButtons #dislike {
  background-color: #b71c1c;
  color: white;
  border: 1px solid black;
  width: 150px;
}
.swipeButtons #think {
  background-color: #FFA500;
  color: white;
  border: 1px solid black;
  width: 150px;
}
ul {
  list-style-type: none;
}

.FirstPageButton {
  background-color: green;
  margin: 20px;
}

.menu {
  height: 55px;
  width: 100%;
  background-color: #303f9f;
  margin: auto;
  text-align: center;
}

.homeOwnerImage {
  display: flex;  
}

.homeOwnerImage img:hover {
  opacity: 0.6;
  
}

.tenantImage img:hover {
  opacity: 0.6;
}

.Arrow-icons {
  max-height: 50px;
  width: 50px;
  margin: auto;
}

.topButtons a{
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 15px;
  margin-right:2px;
  color: #fff;
  text-decoration: none;
  font-size: 17pt;
  text-align: center;
}

.tenantImage {
  position: relative;
  z-index: 0;
}

.match {
  height: 500px;
  width: 750px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: absolute;
}

.match img {
  width: 500px;
  height: 250px;
  margin: auto;
}

.matchImages {
  display: flex;
  justify-content: space-evenly
}

.match .matchImages .homeOwnerMatchImage {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 100%;
}

.match .matchImages .tenantMatchImage {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 100%;
}
