.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.homeOwnerImage img {
  height: 500px;
}

.tenantImage img {
  height: 500px;
}

.swipeButtons {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.swipeButtons #like {
  background-color: #4caf50;
  color: white;
  border: 1px solid black;
  margin-left: 50px;
}

.swipeButtons #dislike {
  background-color: #b71c1c;
  color: white;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

.FirstPageButton {
  background-color: green;
  margin: 20px;
}

.menu {
  height: 55px;
  width: 100%;
  background-color: #303f9f;
  margin: auto;
}

.homeOwnerImage, .tenantImage {
  display: flex;
}

.homeOwnerImage:hover {
  opacity: 0.3;
  
}

.tenantImage:hover {
  opacity: 0.3;
}

.Arrow-icons {
  max-height: 50px;
  width: 50px;
  margin: auto;
}
.topButtons a{
  width: 150px;
  height: 30px;
  float: left;
  padding: 15px;
  margin-right:2px;
  color: #fff;
  text-decoration: none;
  font-size: 17pt;
  text-align: center;
}

